.header {
    position: relative;
    height: 100vh;
    width: 4rem;
    background-color: #dfe1ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #000;
    box-shadow: 1px 0 10px #90909063;

    &__logo {
        display: flex;
        align-items: center;

        img {
            width: 4.2rem;
        }

        h1 {
            display: none;
        }
    }

    &__nav {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 4rem;

        li {
            display: flex;
            align-items: center;
            width: 100%;
            height: 4rem;
        }

        p {
            display: none;
        }

        &--ul2 {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;

            &:hover {
                background-color: rgb(38, 38, 145);
            }
        }

        &--svg {
            width: 2.8rem;
            height: 2.8rem;
            fill: #080030;

            &:hover {
                fill: red;
            }
        }
    }

    &__expandNavbar {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        width: 2rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.tabs {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.tabs:hover {
    background-color: rgb(47, 47, 183);
}

.navbar-anim {
    animation: navbarAnim 0.5s ease-out forwards;
}

.navbar-anim2 {
    animation: navbarAnim2 0.5s ease-out forwards;
}

@keyframes navbarAnim {
    0% {
        align-items: normal;
    }
    100% {
        width: 16rem;
        align-items: normal;
    }
}

@keyframes navbarAnim2 {
    0% {
        width: 16rem;
        align-items: normal;
    }
    75% {
        align-items: normal;
    }
    100% {
        width: 4rem;
        align-items: center;
    }
}
