.container {
    display: none;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

#btn-add_room {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
}

.modal-add_room {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-confirm_reset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #1d1c1c;
    width: 500px;
    height: 130px;
    border-radius: 6px;
    color: #f1f1f1;
    display: none;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

#btn-params {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 50px;
    height: 50px;
}

#btn-params img {
    width: 100%;
    height: 100%;
}

.modal-params {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-params__content {
    background-color: #111;
    color: #f1f1f1;
    display: flex;
}

.cross-to-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross-to-close img {
    width: 100%;
    height: 100%;
}

.container-choice_sound div {
    display: flex;
}

.container-choice_sound button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #535353;
    border: 1px solid #ffffff4a;
}

.container-choice_sound button img {
    width: 140%;
    height: 140%;
}

#stop-music-1,
#stop-music-2,
#stop-music-3 {
    width: 30px;
    height: 30px;
    background-color: #535353;
    border: 1px solid #ffffff4a;
    position: relative;
    display: none;
}

#stop-music-1 img,
#stop-music-2 img,
#stop-music-3 img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.modal-notification {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(6, 168, 6);
    color: #f1f1f1;
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 2000;
}

.hidden {
    display: none;
}
