.container {
    display: none;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

#btn-add_room {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
}

.modal-add_room {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-confirm_reset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #1d1c1c;
    width: 500px;
    height: 130px;
    border-radius: 6px;
    color: #f1f1f1;
    display: none;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

#btn-params {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 50px;
    height: 50px;
}

#btn-params img {
    width: 100%;
    height: 100%;
}

.modal-params {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-params__content {
    background-color: #111;
    color: #f1f1f1;
    display: flex;
}

.cross-to-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross-to-close img {
    width: 100%;
    height: 100%;
}

.open {
    display: flex;
}
