.timer {
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-size: 3.2rem;
        padding: 1rem 1.5rem;
        font-family: "Courier New", Courier, monospace;
    }

    &__logo {
        width: 200px;
        height: auto;
        margin-top: 6rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__middle {
        position: relative;
    }

    &__message {
        background-color: #000;
        width: 100%;
        min-height: 300px;
        max-height: 440px;
        margin-top: 100px;
        color: #fff;
        font-size: 3rem;
        border-radius: 4px;
        border: 1px solid #ffffff55;
        box-shadow: 1px 1px 10px #00000075;
        word-wrap: break-word;

        p {
            font-family: Arial, Helvetica, sans-serif;
            min-width: 100%;
            min-height: 100%;
            padding: 10px 14px;
        }
    }
}

.timer-second {
    width: 85%;
}
