.timer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    height: 100vh;

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-size: 3vw;
        padding: 1rem 1.5rem;
        font-family: "Courier New", Courier, monospace;
    }

    &__logo {
        min-width: 100px;
        width: 15%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__middle {
        position: relative;
        border: 2px solid #fff;
        border-radius: 2px;
        width: 70%;
        font-size: 100%;
        padding: 2vh;

        &--timer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10vw;
            color: #fff;
            font-family: cursive;
        }
    }

    &__message {
        background-color: #000;
        width: 60%;
        min-height: 33%;
        margin-top: 6vh;
        color: #fff;
        font-size: 3vw;
        border-radius: 4px;
        border: 1px solid #ffffff55;
        box-shadow: 1px 1px 10px #00000075;
        word-wrap: break-word;

        p {
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 14px;
        }
    }
}
