.container {
    display: none;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

#btn-add_room {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
}

.modal-add_room {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
