html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.header {
  position: relative;
  height: 100vh;
  width: 4rem;
  background-color: #dfe1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #000;
  box-shadow: 1px 0 10px rgba(144, 144, 144, 0.3882352941);
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 4.2rem;
  user-select: none;
}
.header__logo h1 {
  display: none;
}
.header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
}
.header__nav li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.header__nav li:hover .header__nav--svg path, .header__nav li:hover .header__nav--svg polygon {
  fill: #f1f1f1;
}
.header__nav li button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav li button:hover {
  color: #f1f1f1;
}
.header__nav li span {
  display: none;
  margin-left: 1rem;
  font-size: 1rem;
}
.header__nav--ul2 {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: all 0.3s ease;
}
.header__nav--ul2:hover {
  background-color: rgb(38, 38, 145);
}
.header__nav--svg {
  width: 2.8rem;
  height: 2.8rem;
  fill: #080030;
}
.header__expandNavbar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  width: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.header__expandNavbar img {
  width: 100%;
  height: 100%;
}

.tabs {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: all 0.3s ease;
}
.tabs:hover {
  background-color: rgb(47, 47, 183);
}

.navbar-anim {
  animation: navbarAnim 0.5s ease-out forwards;
}

.navbar-anim2 {
  animation: navbarAnim2 0.5s ease-out forwards;
}

@keyframes navbarAnim {
  0% {
    align-items: start;
  }
  100% {
    width: 16rem;
    align-items: start;
  }
}
@keyframes navbarAnim2 {
  0% {
    width: 16rem;
    align-items: normal;
  }
  75% {
    align-items: normal;
  }
  100% {
    width: 4rem;
    align-items: center;
  }
}
#app {
  display: flex;
  min-height: 100vh;
  background-color: #222;
}

.main {
  width: 100%;
  position: relative;
}

img {
  width: 2.8rem;
}

.content {
  height: 100vh;
  width: 100%;
  position: absolute;
  opacity: 0;
  display: none;
}

#modal-check_exit_timer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6156862745);
  position: absolute;
  top: 0;
  left: 0;
}

#modal-check_exit_timer > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.room-btn {
  text-align: left;
}

.room-btn h2 {
  text-align: center;
}

.container-drop {
  width: 200px;
  height: 150px;
}

.strong {
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Animation onglet */
.active {
  background-color: midnightblue;
  color: #f1f1f1;
  transition: all 0.3s ease;
}
.active .header__nav--svg path,
.active .header__nav--svg polygon {
  fill: #f1f1f1;
}

.activeContent {
  animation: fade 0.5s forwards;
  display: initial;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=output.css.map */
